<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsenui.css">
  <link rel="stylesheet" href="https://unpkg.com/onsenui/css/onsen-css-components.min.css">
  <script src="https://unpkg.com/onsenui/js/onsenui.min.js"></script>
</head>

<body>
  <ons-page>
    <ons-toolbar>
      <h2 style="color: #2979ff" class="center">{{ title }}</h2>
      <div class="right">
        <ons-toolbar-button onclick="fn.open()">
          <ons-icon icon="ion-navicon, material:md-menu"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>
    <ons-splitter>
      <ons-splitter-side id="menu" side="left" width="220px" collapse swipeable>
      </ons-splitter-side>
      <ons-splitter-content id="content"></ons-splitter-content>
    </ons-splitter>
    {{{ body }}}
    </ons-page>
    <script>
      window.fn = {};
      window.fn.open = () => {
        var menu = document.getElementById('menu');
        menu.open();
      };
    </script>
</body>
</html>